[user]
	name = Mantas Armonas
	email = mantas.armonas@logicalglue.com
[core]
	editor = vim
	autocrlf = input
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %ad' --abbrev-commit
	co = checkout
	ec = config --global -e
	cob = checkout -b
	cm = !git add -A && git commit -m
	b = branch
	t = tag
	up = !git pull --rebase --prune
[push]
	default = simple
